*.pyc

/typings

*.glb
*.onnx
/.vscode

/local_config.json

/test_resources/nyu_depth_v2_labeled.mat

result1.bam

mlflow_data/**/*

!mlflow_data/.keep

*.ps1

work

*.db

*.ipynb

paper_figures_and_tables